<nav class="navbar navbar-expand-lg navbar-light app-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="">
        <img src="../../../assets/logo.svg" alt="Avatar Logo" style="width: 120px; height: 32px; margin-left: 24px;" class="rounded-pill"> 
      </a>
    </div>
    <div class="right-nav">
      <fa-icon class="icon"
        [ngStyle]="{color: '#00458F'}" 
        [icon]="faBell"
      >
      </fa-icon>
      <fa-icon class="icon" 
      [ngStyle]="{color: '#00458F'}" 
      [icon]="faUserCircle"
      >
      </fa-icon>
    </div>
</nav>