<div class="title" *ngIf="showUsers; else hideUsers">
    <fa-icon class="icon"
        [ngStyle]="{width: 24, height: 24}" 
        [icon]="faChevronCircleDown"
        (click)="toggleUsers()"></fa-icon>
    <!-- <p>{{group[0].title}}</p> -->
    <hr>
</div>
<ng-template #hideUsers>
    <div class="title">
        <fa-icon class="icon"
            [ngStyle]="{width: 24, height: 24}" 
            [icon]="faChevronCircleRight"
            (click)="toggleUsers()"></fa-icon>
        <!-- <p>{{group[0].title}}</p> -->
        <hr>
    </div>    
</ng-template>
<div *ngIf="showUsers" class="row">
    <app-user class="col-lg-4 col-md-5 col-sm-12 group" 
    *ngFor="let user of group"
    [user]="user"
    (click)="openDialog(user)"    
    >
    </app-user>
</div>
